## Exercise 02 : Preprocessing

In [80]:
%autosave 60
import pandas as pd
pd.options.mode.chained_assignment = None

Autosaving every 60 seconds

## Read the CSV file and make ID the index column

In [81]:
df = pd.read_csv('../data/auto.csv', index_col='ID')
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

## Count the number of observations

In [82]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## Drop the duplicates, taking into account only the following columns: CarNumber, Make_n_model, Fines

In [83]:
df = df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last')
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## Check how many values are missing from each column

In [84]:
df.isna().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

## Drop all the columns with over 500 missing values using the argument thresh, check how many missing values are in each column

In [85]:
df = df.dropna(axis=1, thresh=500)
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

## Replace all the missing values in the Refund column with the previous value in that column for that cell

In [86]:
df['Refund'].fillna(method='ffill', inplace=True)
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

## Replace all the missing values in the Fines column with the mean value of this column

In [87]:
df['Fines'].fillna(df['Fines'].mean(), inplace=True)
df.isna().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

## Split and parse the make and model and drop the column Make_n_model

In [88]:
df['Make'] = df['Make_n_model'].apply(lambda x: x.split()[0])
df['Model'] = df['Make_n_model'].apply(lambda x: x.split()[1] if len(x.split()) == 2 else None)
df.drop('Make_n_model', inplace=True, axis=1)
df

        CarNumber  Refund         Fines    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000    Ford    Focus
1     E432XX77RUS     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000    Ford    Focus
3    X582HE161RUS     2.0   2000.000000    Ford    Focus
5    92918M178RUS     1.0   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

## Save the dataframe in the JSON file auto.json

In [89]:
df.to_json('../data/auto.json', orient='records', double_precision=1)

## And check...

In [90]:
df_check = pd.read_json('../data/auto.json', orient='records')
df_check

        CarNumber  Refund    Fines    Make    Model
0    Y163O8161RUS       2   3200.0    Ford    Focus
1     E432XX77RUS       1   6500.0  Toyota    Camry
2     7184TT36RUS       1   2100.0    Ford    Focus
3    X582HE161RUS       2   2000.0    Ford    Focus
4    92918M178RUS       1   5700.0    Ford    Focus
..            ...     ...      ...     ...      ...
720  Y163O8161RUS       2   1600.0    Ford    Focus
721  M0309X197RUS       1  22300.0    Ford    Focus
722  O673E8197RUS       2    600.0    Ford    Focus
723  8610T8154RUS       1   2000.0    Ford    Focus
724  H419XE197RUS       2   8594.6  Toyota  Corolla

[725 rows x 5 columns]

In [91]:
df_check.count()

CarNumber    725
Refund       725
Fines        725
Make         725
Model        716
dtype: int64

In [92]:
df_check['Fines'].mean()

8594.587586206897

In [93]:
df_check['Refund'].mean()

1.5172413793103448